@model ExamenTecnico.Net.Parte2.Models.OrdenPagoSucursalModel

@{
    ViewData["Title"] = "Detalles de la Orden de Pago";
}

<h1>Detalles de la Orden de Pago</h1>

<div>
    <h4>OrdenPagoBE</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estados)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreSucursal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>|
    <a asp-action="Index">Retornar</a>
</div>
